.input-container {
    padding: 20px 80px;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.form-tit {
    text-align: center;
    margin: 200px 0 10px 0;
    font-size: 80px;
    font-weight: 900;
    
}

.form-tit span:nth-child(1) {
    color: #4285f4;
}
.form-tit span:nth-child(2) {
    color: #ea4335;
}

.form-tit span:nth-child(3) {
    color: #fbbc05;
}

.form-tit span:nth-child(4) {
    color: #4285f4;
}

.form-tit span:nth-child(5) {
    color: #34a853;
}

.form-tit span:nth-child(6) {
    color: #ea4335;
}



.input-box {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}
.input-line {
    width: 40%;
}

.label-txt {
    min-width: 20%;
    font-size: 1rem;
    font-weight: 500;
    color: #555

}
.input-txt {
    height: 32px;
    padding: 5px 20px;
    margin: 0 12px;
    border: 1px solid #d7d7d7;
    border-radius: 50px;
    width: 70%;
    max-width: 1200px;
}

.form-btn {
    margin: 40px 10px;
    border: 0;
    border-radius: 5px;
    padding: 7px 15px;
    color: #3c4043;
    background-color: #f8f9fa;
}
.form-btn:hover {
    /* border: 1px solid #e5ebec; */
    box-shadow: 0px 1px 2px 1px #dcdcdc;
    color: #3c4043;
}

@media  screen and (max-width: 1024px) {
    .input-container {
        padding: 20px 40px;
    }

    .input-box {
        flex-direction: column;
        align-items: center;
    }

    .input-line {
        display: flex;
        align-items: center;
        margin: 5px;
        width: 90%;
    }
    .label-txt {
        width: 5%;
        text-align: center;
        
    }
    .input-txt {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .input-container {
        padding: 20px 20px;
    }
    .input-box {
        width: 100%;
    }
    .label-txt {
        width: 3%;
    }
    .input-line {
        width: 100%;
    }

}
@media screen and (max-width:480px) {
    .input-container {
        padding: 10px 10px;
    }
    .form-tit {
        font-size: 60px;
        margin-top: 140px;
    }
    .btngroup {
        width: 95%;
        display: flex;
        justify-content: center;
    }
    .form-btn {
        width: 45%;
        margin: 2.5%;
        padding: 7px 20px;
        border: 1px solid #e9e9e9
    }

}