.todo-container {
    display: flex;
    flex-direction: column;

    width: 20%;
    /* height: 150px; */
    border: 0;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
}

  
.todo-tit {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.todo-body {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

  .btn-set{
    display: flex;
    gap: 10px;
    margin-top: 32px;
  }
  
  .btn {
    font-size: 0.8rem;
    font-weight: 600;
    border: 0;
    color: #3c4043;
    background-color: #f8f9fa;
    width: 50%;
    height: 32px;
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .del:hover {
    border: 0;
    background-color: #ff6c5f;
    color: #fff;
  }
  
 .done:hover {
    border: 0;
    background-color: #5993f0;
    color: #fff;
  }
  .cancel:hover {
    border: 0;
    background-color: #ffe189;

  }