.container {
    border: 0;
    background-color: #fff;
    color:#333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .cont-right {
    display: flex;
    align-items: center;
  }

  .head-ico {
    margin-left: 10px;
    background-color: #fbbc05;
    padding: 10px 7px;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
  }